{% extends 'base.html' %}

{% block title %}Ответ{% endblock %}
{% block content %}
    <div class="col-6">
        <form action="{{ action_url }}" method="POST">
            {% csrf_token %}

            {% for field in form %}
                {% include 'partial/quiz_form.html' with form=field %}
            {% endfor %}
                  <input class="btn btn-primary" type="submit" value="Добавить">
        <a href="{% url 'index' %}" class="btn btn-primary">Отмена</a>
        </form>
    </div>
{% endblock %}