<div class="card m-2" style="width: 18rem;">
  <div class="card-body">
{#    <p class="card-text">{{ quiz.question }}</p>#}
      <a href="{% url 'quiz_view' collect.collecting_quiz.pk %}"><h1>{{ collect.collecting_quiz.question }}</h1></a>
        {{ collect }}
      {#      {% if quiz.answer.all %}#}
{#          {% for answer in quiz.answer.all %}#}
{#              <p>{{ answer.answer }}</p>#}
{#              <a href="{% url 'answer_update' answer.pk %}" class="btn btn-primary">Ре</a>#}
{#              <a href="{% url 'answer_delete' answer.pk %}" class="btn btn-primary">Уд</a>#}
{#          {% endfor %}#}
{#      {% endif %}#}
{#        <br>#}
{#      <a href="{% url 'quiz_update' quiz.pk %}" class="btn btn-primary">Редактировать</a>#}
{#      <a href="{% url 'quiz_delete' quiz.pk %}" class="btn btn-primary">Удалить</a>#}
{#      {% url 'quiz_delete' quiz.pk as action_url %}#}
{#      {% include 'partial/quiz_form.html' with action_url=action_url%}#}
{#      <a href="{% url 'answer_create' quiz.pk %}" class="btn btn-primary">Добавить ответ</a>#}
  </div>
</div>
